body{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color:rgb(23, 23, 104);
    line-height: 1.6;

}

.showcase{
    background-image:url("Beach.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    
}

.showcase h1{
    font-size: 60px;
    line-height: 1.2;
}

.showcase p{
    font-size: 20px;

}

.showcase .button{
    font-size: 18px;
    text-decoration: none;
    color:rgb(13, 90, 90);
    border: rgb(208, 246, 246) 5px solid;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;

}

.showcase .button:hover {
    background: blue;
    color: #fff;

}

.section-a {
    padding: 20px;
    background: #926239;
    text-align: center;
}

.section-a {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

.section-c { 
    display: flex;
}

.section-c div{
    padding: 20px;
}

.section-c .box-1{
    background: #926239;
    color: #fff;
    border-radius: 10px;
}

.section-c .box-3{
    background: #926239;
    color: #fff;
    border-radius: 10px;
}

.section-c .box-2{
    background: #f5f5;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    

    
}

